<!-- Entertainment -->
<div class="container" id="Entertainment">
    <br>
    <div class="mb-3 text-center">
        <h2 class="display-6 fw-600 fs-2"><b>Entertainment</b></h2>
    </div>
    <div class="row row-cols-3 row-cols-md-5 g-3 justify-content-center">

        <!-- Youtube Premium -->
        <article>
            <a class="text-decoration-none text-reset" href="youtube-premium" title="Youtube Premium">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/yt-prem.jpg" class="card-img-top" title="Youtube Premium">
                    </div>
                    <div class="row card-body text-center align-items-center">
                        <div class="col-12">
                            <h3 class="entry-title">Youtube Premium</h3>
                            <div class="text-muted">
                                <div>Manual</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end Saga of Skywalkers -->

    </div>
</div>
<!-- end entertainment -->