<!-- deskripsi -->
<div class="bg-primary bg-gradient">
    <div class="container">
        <div class="py-4 text-white desc">
            <h2 class="display-6 fw-600 fs-5">
                <b>AsdarrID: Top-up Produk Digital Legal, Murah, Cepat, dan Aman.</b>
            </h2>
            <p class="fs-6 m-0">Tempat top-up game dan voucher termurah dan terpercaya. Beli Voucher Digital dalam
                satu website dengan harga terbaik, banyak bonus dan promo diskon paling murah langsung dalam satu
                websites.</p>
        </div>
    </div>
</div>
<!-- end deskripsi -->

<div class="footer mt-auto border-top">
    <!-- metode pembayaran yang didukung -->
    <div class="container">
        <div class="col-md-12 col-12">
            <div class="row pt-4">
                <div class="col-md-12 text-center mb-3">
                    <h5 class="mb-1">Didukung Pembayaran</h5>
                </div>
                <div class="text-center list-support-payment" style="pointer-events: none;">
                    <img src="assets/images/payment/bca.svg">
                    <img src="assets/images/payment/bni.svg">
                    <img src="assets/images/payment/bri.svg">
                    <img src="assets/images/payment/mandiri.svg">
                    <img src="assets/images/payment/alfamart.svg">
                    <img src="assets/images/payment/indomaret.svg">
                    <img src="assets/images/payment/alfamidi.svg">
                    <img src="assets/images/payment/gopay.svg">
                    <img src="assets/images/payment/linkaja.svg">
                    <img src="assets/images/payment/shopeepay.svg">
                    <img src="assets/images/payment/ovo.svg">
                    <img src="assets/images/payment/dana.svg">
                    <!-- <img src="assets/images/payment/qris.svg"> -->
                </div>
            </div>
        </div>
    </div>
    <!-- end pembayaran -->

    <footer>
        <div class="container">
            <div class="row pt-5 pb-4 mt-4 border-top justify-content-center">

                <div class="col-lg-3 col-6">
                    <h5>Sitelinks</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="game" class="text-decoration-none p-0 text-muted"
                                style="font-size: medium;">Game</a></li>
                        <li class="nav-item mb-2"><a href="voucher" class="text-decoration-none p-0 text-muted"
                                style="font-size: medium;">Voucher</a>
                        </li>
                        <li class="nav-item mb-2"><a href="entertainment" class="text-decoration-none p-0 text-muted"
                                style="font-size: medium;">Entertainment</a></li>
                        <br>
                    </ul>
                </div>

                <div class="col-lg-3 col-6">
                    <h5>Ikuti Kami</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2">
                            <a href="https://www.facebook.com/profile.php?id=100055745330328" target="_blank"
                                class="text-decoration-none p-0 text-muted" style="font-size: medium;">Facebook</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="https://instagram.com/asdarr.id?igshid=YmMyMTA2M2Y=" target="_blank"
                                class="text-decoration-none p-0 text-muted" style="font-size: medium;">Instagram</a>
                        </li>
                        <br>
                    </ul>
                </div>

                <div class="col-lg-3 col-6">
                    <h5>AsdarrID</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="tentang-kami" class="text-decoration-none p-0 text-muted"
                                style="font-size: medium;">Tentang
                                Kami</a></li>
                        <li class="nav-item mb-2"><a href="kebijakan-privasi"
                                class="text-decoration-none p-0 text-muted" style="font-size: medium;">Kebijakan
                                Privasi</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-6">
                    <h5>Kontak Kami</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2">
                            <a href="mailto:asdarrid.cs@gmail.com" class="text-decoration-none p-0 text-muted"
                                style="text-decoration: none;font-size: medium;"><span>asdarrid.cs@gmail.com</span></a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="https://wa.me/6283123658885" target="_blank"
                                class="text-decoration-none p-0 text-muted"
                                style="font-size: medium;">+6283-123-65-8885</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2022. All Rights Reserved</p>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<a class='fixed-whatsapp' href='https://api.whatsapp.com/send?phone=6283123658885' rel='nofollow noopener'
    target='_blank' title='Whatsapp'>
    <script src="assets/js/value.js"></script>