<!-- Voucher -->
<div class="container" id="Voucher">
    <br>
    <div class="mb-3 text-center">
        <h2 class="display-6 fw-600 fs-2"><b>Voucher</b></h2>
    </div>
    <div class="row row-cols-3 row-cols-md-5 g-3 justify-content-center">

        <!-- Garena Shell -->
        <article>
            <a class="text-decoration-none text-reset" href="garena-shell" title="Garena Shell">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/Garena Shell.jpg" class="card-img-top" title="Garena Shell">
                    </div>
                    <div class="row card-body text-center align-items-center">
                        <div class="col-12">
                            <h3 class="entry-title">Garena Shell</h3>
                            <div class="text-muted">
                                <div>Manual</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end Garena Shell -->

        <!-- Minecraft Coins -->
        <article>
            <a class="text-decoration-none text-reset" href="minecraft" title="Minecraft Coins">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/Minecraft Coin.webp" class="card-img-top" title="Minecraft Coins">
                    </div>
                    <div class="row card-body text-center align-items-center">
                        <div class="col-12">
                            <h3 class="entry-title">Minecraft Coins</h3>
                            <div class="text-muted">
                                <div>Manual</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end Minecraft Coins -->

        <!-- Smile One -->
        <article>
            <a class="text-decoration-none text-reset" href="smile-one" title="Smile One">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/Smile One.jpg" class="card-img-top" title="Smile One">
                    </div>
                    <div class="row card-body text-center align-items-center">
                        <div class="col-12">
                            <h3 class="entry-title">Smile One</h3>
                            <div class="text-muted">
                                <div>Manual</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end Smile One -->

    </div>
</div>
<!-- end voucher -->